extends layout.pug

block content
  header
  // banner
  .banner
    .herotext
      h2 Travel Expert Philippines
  // Intro
  .contact-grid-container
    .intro.p-lr
      h2 Contact Us
      //- p
      //-   | Vestibulum ut tempor lorem. Nam ut mi mauris. Aliquam quis viverra 
      //-   a(href='#' target='_blank') velit.
      //-   |  Sed egestas, velit sit amet luctus pretium, enim dolor interdum felis, at pretium tellus nibh id velit. Maecenas semper tincidunt dolor
      //-   |                 tincidunt fringilla. Fusce bibendum nunc ac magna elementum, a ultricies nulla posuere. Cras sed lacus faucibus, ornare diam vitae, dapibus mauris. Ut ac est non lectus gravida placerat at non lectus. Nunc blandit, elit eu tempor aliquam,
      //-   |                 mi libero fringilla nisl, non sagittis massa justo in nunc. Donec ornare sed arcu nec tempor. Duis nec ipsum varius, viverra lacus sit amet, sollicitudin arcu.
    // Contact form
    .contactform.p-lr
      h3 Connect with us
      form(method='post' action='/contact')
        p
          label(for='fname') First Name 
          input#fname(type='text' name='firstname' placeholder='Your name..' value=postdata && postdata.firstname)
        p
          label(for='lname') Last Name 
          input#lname(type='text' name='lastname' placeholder='Your last name..' value=postdata && postdata.lastname)
        p
          label(for='emailadd') Email 
          input#emailadd(type='text' name='email' placeholder='Email address' value=postdata && postdata.email)
          //- input#emailadd(type='text' name='email' placeholder='Email address' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$")
        p
          label(for='comment') Comment or Question 
        textarea#comment(name='comment' placeholder='Comment...' rows='5')=postdata && postdata.comment
        p
          label
            input(type='checkbox' name='lab')
            |  Add me to your Newsletter
        input.roundbtn(type='submit' value='Submit')
    // map
    .map
      figure
        img(src='img/phil-head.jpg' alt='Philippines Travesl Site')
        figcaption Philippines Travesl Site

  if errors
    ul
      each error in errors
        li.alert.alert-danger.m3= error
